#neelam {
   width: 296px;
   border-bottom: 2px #6f6f6f solid;
   font-size: xx-large;
}

body {
   background: #eeeeee;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: auto;
   height: 90vh;
}
body td .buttom{
   font-size: 2rem;
}

table {
   margin: auto;
   background-color:#ee5253;
   width: 295px;
   max-width: 295px;
   height: 325px;
   text-align: center;
   border-radius: 4px;
   padding-right: 10px;
   border-color: #ee5253;
}

input {
   outline: 0;
   position: relative;
   left: 5px;
   top: 5px;
   border: 0;
   color: #0f4189;
   background-color:#eeeeee;
   border-radius: 4px;
   width: 60px;
   height: 50px;
   float: left;
   margin: 5px;
   font-size: 20px;
   box-shadow: 0 4px rgba(0, 0, 0, 0.2);
   margin-bottom: 15px;
   background-color:#eeeeee;
}

input.buttom:hover {
   opacity: 90%;

}


#display {
   width: 265px;
   max-width: 270;
   font-size: 50px;
   text-align: right;
   background-color: #bcbd95;
   float: left
}

#display:hover {
   width: 270px;
   font-size: 2rem;
   text-align: right;
   background-color: #bcbd95;
   box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

#display:active {
   top: 5px;
   width: 270px;
   font-size: 2rem;
   text-align: right;
   background-color: #bcbd95;
   box-shadow: 0 4px rgba(0, 0, 0, 0.2)
}

.operator {
   background-color: #cee9ea;
   position: relative;
}

.operator:hover {
   background-color: #cee9ea;
   box-shadow: none;
}

#clear {
   float: left;
   position: relative;
   display: block;
   background-color: #cee9ea;
}


#clear:active {
   top: 1px;
   border: 0 solid #000;
   color: #495069;
   background-color: #cee9ea;
   border-radius: 4px;
   width: 60px;
   height: 50px;
   float: left;
   margin: 5px;
   font-size: 2rem;
   box-shadow: none;
}
input.buttom:active {
   top: 1px;
   border: 0 solid #000;
   color: #495069;
   background-color: #cee9ea;
   border-radius: 4px;
   width: 60px;
   height: 50px;
   float: left;
   margin: 5px;
   font-size: 2rem;
   box-shadow: none;
}
